/**
 * Created by Arley on 2016/12/14.
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
.ztree,
.set_managers {
  float: left;
}
.ztree {
  width: 42%;
  min-height: 560px;
  max-height: 600px;
  border-right: 1px solid #e4e4e4;
}
.ztree .dep_tree {
  min-height: 560px;
  max-height: 600px;
  overflow-y: auto;
}
.set_managers {
  width: 55%;
  height: 560px;
}
.set_managers .manages_desc {
  width: 460px;
  height: 100px;
  border: 1px solid #e4e4e4;
  border-left: 4px solid #1dc6bc;
  margin: 30px auto 0;
}
.set_managers .department_name {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: -3px 0 0 20px;
  padding: 5px;
  background: #1dc6bc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
}
.set_managers .manager_name {
  display: inline-block;
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin: 35px 0 0 10px;
  font-size: 14px;
  color: #535e6a;
}
.set_managers .manager_name .set_btn {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 12px;
}
.set_managers .manager_name .set_btn .btn_icon {
  display: block;
  position: relative;
  height: 22px;
  line-height: 22px;
  padding-left: 25px;
  color: #1DC6BC;
}
.set_managers .manager_name .set_btn .btn_icon:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 21px;
  height: 21px;
  background: url(../zTree/css/img/ztree-icon.png) no-repeat -37px -141px;
  vertical-align: middle;
}
.set_managers .manager_name .set_btn .search_box {
  position: absolute;
  left: -50px;
  top: 30px;
  width: 200px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid #1dc6bc;
  background: #FFFFFF;
  color: #333;
  box-shadow: 0 0 5px 1px #1dc6bc;
  z-index: 10;
}
.set_managers .manager_name .set_btn .search_box .search_input {
  position: relative;
  padding-left: 20px;
  height: 32px;
}
.set_managers .manager_name .set_btn .search_box .search_input:before {
  position: absolute;
  left: 5px;
  top: 10px;
  display: block;
  content: '';
  width: 11px;
  height: 11px;
  background: url(../img/manager_search_icon.png) no-repeat;
}
.set_managers .manager_name .set_btn .search_box .search_input .m_search {
  width: 160px;
  height: 25px;
  padding: 0 5px;
  border: none;
}
.set_managers .manager_name .set_btn .search_box .search_result {
  padding-left: 25px;
  max-height: 325px;
  overflow: auto;
}
.set_managers .manager_name .set_btn .search_box .res_item {
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}
.set_managers .manager_name .set_btn .search_box .res_item span {
  display: inline-block;
  width: 45%;
  padding-right: 3%;
}
/*****Content detail page****Begin*******/
.operate_log {
  max-height: 600px;
  overflow-y: scroll;
}
.operate_log .log_list {
  margin-top: 40px;
  padding-left: 24px;
  padding-bottom: 30px;
}
.operate_log .log_list .list_item {
  border-left: 1px solid #CCCCCC;
  padding: 0  0 40px 50px;
  position: relative;
  height: auto;
}
.operate_log .log_list .list_item .log_item_info {
  position: relative;
  margin-top: -8px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 12px;
  letter-spacing: 1px;
}
.operate_log .log_list .list_item .log_item_info :before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  background-size: cover;
  position: absolute;
  left: -65px;
  top: -2px;
  z-index: 10;
}
.operate_log .log_list .list_item .log_item_info:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #dadada;
  position: absolute;
  left: -57px;
  top: 7px;
  z-index: 20;
}
.operate_log .log_list .list_item .log_item_info .audit_img {
  padding-top: 5px;
  height: 60px;
  line-height: 60px;
}
.operate_log .log_list .list_item .log_item_info .audit_img a {
  display: inline-block;
  width: 60px;
  height: 45px;
  line-height: 45px;
  background: rgba(0, 0, 0, 0.8);
  margin-right: 30px;
  overflow: hidden;
}
.operate_log .log_list .list_item .log_item_info .audit_img a img {
  vertical-align: middle;
}
.operate_log .log_list .list_item .log_item_info .audit_img a:last-child {
  margin-right: 0;
}
.operate_log .log_list .list_item.current_audit_p {
  color: #1DC6BC;
}
.operate_log .log_list .list_item.current_audit_p .log_item_info:after {
  background: #1DC6BC;
  -webkit-box-shadow: 0 0 8px #1dc6bc;
  -moz-box-shadow: 0 0 8px #1dc6bc;
  box-shadow: 0 0 8px #1dc6bc;
}
.operate_log .log_list .list_item .log_item_info,
.operate_log .log_list .list_item:last-child {
  border: none;
}
.operate_log .log_list .list_item:nth-child(even) .log_item_info:after {
  background-position: -4px -115px;
}
/*个人中心部分样式*/
.user_center {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.user_center .row_title {
  min-height: 12px;
}
.user_center .user_photo_row {
  height: 80px;
  line-height: 80px;
  padding-bottom: 15px;
}
.user_center .photo_box {
  display: inline-block;
}
.user_center .photo_box .user_photo {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  overflow: hidden;
}
.user_center .photo_box .user_photo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
}
.user_center .upload_photo {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  border: 1px solid #1dc6bc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  color: #1dc6bc;
}
.user_center .upload_photo:hover {
  background: #1dc6bc;
  color: #FFFFFF;
}
.user_center .user_name,
.user_center .user_phone {
  width: 240px;
  height: 30px;
  line-height: 30px;
  padding: 4px 15px;
  color: #535e6a;
  background: #ebebeb;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.user_center .save_btn {
  width: 240px;
  height: 30px;
  line-height: 30px;
  padding: 4px 15px;
  font-size: 14px;
}
.user_center .upload_photo_dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 100;
  width: 600px;
  height: 560px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user_center .upload_photo_dialog .upload_photo_title {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}
.user_center .upload_photo_dialog .original_photo,
.user_center .upload_photo_dialog .thumbnail_photo {
  float: left;
}
.user_center .upload_photo_dialog .original_photo img,
.user_center .upload_photo_dialog .thumbnail_photo img {
  vertical-align: middle;
}
.user_center .upload_photo_dialog .original_photo {
  width: 300px;
  height: auto;
}
.user_center .upload_photo_dialog .original_photo .large_photo {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  vertical-align: top;
}
.user_center .upload_photo_dialog .thumbnail_photo {
  width: 240px;
  height: auto;
}
.user_center .upload_photo_dialog .thumbnail_photo .small_photo {
  width: 100px;
  height: 100px;
  margin: 60px auto 0;
  border-radius: 50%;
  overflow: hidden;
}
.user_center .upload_photo_dialog .thumbnail_photo .small_photo img {
  width: 100px;
  height: 100px;
}
.user_center .upload_photo_dialog .thumbnail_photo .thumbnail_text {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #7c858e;
  letter-spacing: 1px;
}
.user_center .upload_photo_dialog .tips_msg {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #bababa;
}
.user_center .upload_photo_dialog .upload_btn_box {
  margin-top: 10px;
  text-align: center;
}
.user_center .upload_photo_dialog .upload_btn_box .choose_img {
  width: 60px;
  height: 14px;
  line-height: 14px;
}
.user_center .upload_photo_dialog .btn_box {
  margin-top: 10px;
  padding: 0;
  text-align: center;
}
