/**
 * Created by Arley on 2017/5/12.
 */
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
/************ 待办事项部分 ************/
.home_container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.home_container .module {
  border: 1px solid #e4e4e4;
}
/************ 待办事项部分 Begin ************/
.todo_content {
  width: 98%;
  height: auto;
}
.todo_content .title {
  position: relative;
  padding-left: 20px;
  background: #f5f5f5;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.todo_content .title:before {
  display: block;
  position: absolute;
  top: 11px;
  left: 8px;
  content: '';
  height: 18px;
  border-left: 4px solid #1dc6bc;
}
.todo_content .todo_list {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.todo_content .todo_list .no_pending_data {
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 14px;
  color: #535e6a;
  opacity: .5;
}
.todo_content .todo_list .list_item {
  height: 90px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  cursor: pointer;
}
.todo_content .todo_list .list_item .item_detail {
  display: inline-block;
  width: 80%;
  height: 90px;
  font-size: 12px;
}
.todo_content .todo_list .list_item .item_detail .last_person,
.todo_content .todo_list .list_item .item_detail .desc {
  height: 45px;
  line-height: 60px;
  overflow: hidden;
}
.todo_content .todo_list .list_item .item_detail .last_person {
  opacity: .9;
}
.todo_content .todo_list .list_item .item_detail .desc {
  line-height: 20px;
}
.todo_content .todo_list .list_item:hover {
  background: #f5f5f5;
}
.todo_content .todo_list .last_time {
  font-size: 12px;
  display: inline-block;
  width: 20%;
  height: 90px;
  line-height: 90px;
  text-align: right;
  vertical-align: top;
  opacity: .7;
}
/************ 待办事项部分 End ************/
