@charset "utf-8";
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
/**
 * 1. 商户列表页样式
 * 2. 备案信息管理页面
 * 3. 商户编辑页面
 * 4. 商户详情页
 */
.merchants .merchants_filtrate {
  padding: 0 15px 10px;
  margin-top: 15px;
  border: 1px dashed #CFCFCF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.merchants .merchants_filtrate .select_item {
  margin-right: 18px;
}
.merchants .merchants_filtrate .conditions_name {
  margin-right: 5px;
}
.merchants .merchants_filtrate .filtrate_select {
  width: 120px;
}
.merchants .merchants_filtrate .btn_box {
  margin: 0;
  height: 50px;
  line-height: 50px;
}
.merchants .merchants_filtrate .btn_box .btn {
  width: 90px;
  height: 20px;
  line-height: 20px;
}
.merchants .merchants_list {
  margin-top: 20px;
}
.merchants table.normal tr,
.merchants table.normal td {
  height: 50px;
  line-height: 50px;
}
.merchants table.normal tr:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.merchants table.normal .no_data:hover {
  background: none;
  cursor: default;
}
.merchants table.normal .no_data td {
  border: none;
}
.merchants table.normal .no_data .no_merchants {
  border: none;
  padding-bottom: 0;
}
.merchants .no_merchants {
  padding: 100px 0 150px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
}
.merchants .no_merchants .no_merchants_img {
  background: url("../img/no-merchants.png") no-repeat center;
}
/******* 2 备案信息管理页面 ******/
.crumbs_btn {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
.merchant_materials .material_store {
  margin-top: 5px;
}
.merchant_materials .material_text {
  width: 120px;
}
.merchant_materials .form_container {
  width: 900px;
}
.merchant_materials .btn_box {
  padding-left: 120px;
}
.merchant_materials .filing_material {
  margin-top: 20px;
}
.merchant_materials .toast_info {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin-left: 20px;
  color: #B0B0B0;
}
.merchant_materials .delete_filing {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  padding-left: 24px;
  color: #808891;
}
.merchant_materials .delete_filing:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 23px;
  height: 23px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -796px;
}
.merchant_materials .delete_filing:hover {
  color: #535e6a;
}
.merchant_materials .delete_filing:hover:before {
  background-position: 0 -1024px;
}
.merchant_materials .add_btn_box {
  height: 50px;
  line-height: 50px;
  padding-left: 120px;
}
.merchant_materials .add_btn_box .add_btn {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  color: #1dc6bc;
}
.merchant_materials .add_btn_box .add_btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 23px;
  height: 23px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -918px;
}
.merchant_materials .add_btn_box .add_btn:hover {
  color: #0b9c94;
}
.merchant_materials .add_btn_box .add_btn:hover:before {
  background-position: 0 -1005px;
}
.merchant_materials .create_box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.merchant_materials .create_box .create_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 230px;
  margin-left: -300px;
  margin-top: -115px;
  background-color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.merchant_materials .create_box .title {
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: none;
}
.merchant_materials .create_box .content {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.merchant_materials .create_box .content .new_field {
  width: 230px;
  height: 30px;
  border: 1px solid #e4e4e4;
  text-indent: .8em;
}
.merchant_materials .create_box .btn_box {
  margin: 0;
  padding: 0;
}
/********** 3 商户编辑页面 **********/
.merchants_edit {
  /*联系人部分*/
  /* 地图查询结果部分 */
  /* 拥有者设置部分 */
}
.merchants_edit .form_options {
  background: #FFFFFF;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 0px;
}
.merchants_edit .form_options .option_item .business_address {
  width: 245px;
  padding-right: 30px;
  background: url("../img/business_addr_icon.png") no-repeat;
  background-position: right center;
}
.merchants_edit .column_name {
  width: 10%;
}
.merchants_edit .column_name .long_text {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  margin-top: 20px;
}
.merchants_edit .person_list {
  width: 660px;
  height: auto;
  padding-top: 18px;
}
.merchants_edit .person_list:after {
  content: '';
  display: block;
  clear: both;
}
.merchants_edit .person_list .person {
  position: relative;
  float: left;
  max-width: 100px;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  margin: 0 10px 15px 0;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #E0E0E0;
  transition: all 0.2S;
  cursor: default;
}
.merchants_edit .person_list .person:hover {
  padding-right: 26px;
  background: #1dc6bc;
  color: #FFFFFF;
}
.merchants_edit .person_list .person:hover .delete_btn {
  display: inline-block;
}
.merchants_edit .person_list .person .delete_btn {
  z-index: 100;
  display: none;
  content: '';
  position: absolute;
  right: 4px;
  top: 6px;
  width: 10px;
  height: 10px;
  background-image: url("../img/close_icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.merchants_edit .choose_box {
  position: relative;
  float: left;
  height: 24px;
  line-height: 24px;
}
.merchants_edit .add_city_btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/add_circle_icon.png) no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -1px;
}
.merchants_edit .two_columns {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.merchants_edit .two_columns .option_item {
  float: left;
  width: 50%;
}
.merchants_edit .two_columns .option_item .column_name {
  width: 20%;
}
.merchants_edit .two_columns .option_item .column_val {
  width: 80%;
}
.merchants_edit .two_columns .whole_line {
  width: 100%;
}
.merchants_edit .two_columns .whole_line .column_name {
  width: 10%;
}
.merchants_edit .two_columns .whole_line .column_val {
  width: 85%;
}
.merchants_edit .head_photo {
  cursor: default;
}
.merchants_edit .img_box,
.merchants_edit .img_md_box {
  margin-top: 20px;
}
.merchants_edit .file_upload {
  padding-left: 0;
}
.merchants_edit .file_upload_layer:before {
  display: none;
}
.merchants_edit .img_md_operate_box {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: default;
  -webkit-transition: all 1s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.merchants_edit .img_md_operate_btn {
  display: inline-block;
  background: url("../img/operation_small_icon.png") no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.merchants_edit .img_md_operate_btn.view {
  width: 33px;
  height: 24px;
  margin-right: 20px;
  background-position: 0 -855px;
}
.merchants_edit .img_md_operate_btn.view:hover {
  background-position: 0 -1067px;
}
.merchants_edit .img_md_operate_btn.delete {
  width: 28px;
  height: 28px;
  background-position: 0 -815px;
}
.merchants_edit .img_md_operate_btn.delete:hover {
  background-position: 0 -1043px;
}
.merchants_edit .img_item:hover .img_md_operate_box {
  bottom: 0;
}
.merchants_edit .remark_item textarea {
  width: 92.5%;
  height: 80px;
  margin-top: 20px;
}
.merchants_edit .btn_box {
  margin: 0;
  height: 40px;
  line-height: 40px;
  padding-right: 9.5%;
}
.merchants_edit .addr_result_box {
  z-index: 10;
  position: absolute;
  left: 22px;
  top: 48px;
  display: none;
  background: #FFFFFF;
  width: 400px;
  max-height: 380px;
  -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.merchants_edit .addr_result_box ::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.merchants_edit .addr_result_box ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
.merchants_edit .addr_result_box ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
.merchants_edit .input_content {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px solid #e4e4e4;
}
.merchants_edit .input_content .map_search {
  width: 100% !important;
  height: 30px;
  padding: 0 !important;
  border: none !important;
}
.merchants_edit .addr_list {
  display: block;
  max-height: 380px;
  overflow-y: scroll;
}
.merchants_edit .addr_list:after {
  content: '';
  display: block;
  clear: both;
}
.merchants_edit .addr_list .addr_item {
  height: 50px;
  line-height: 50px;
  padding: 0 15px ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.merchants_edit .addr_list .addr_item:hover {
  background: #f5f5f5;
}
.merchants_edit .addr_list .addr_item.no_data {
  cursor: default;
}
.merchants_edit .addr_list .addr_item.no_data:hover {
  background: #FFFFFF;
}
.merchants_edit .addr_list .addr_name {
  height: 30px;
  line-height: 36px;
}
.merchants_edit .addr_list .addr_desc {
  width: 125%;
  height: 20px;
  line-height: 12px;
  color: #B0B0B0;
  font-size: 10px;
  /*transform: scale(0.8);
            margin-left: -12.5%;*/
}
.merchants_edit .map_box {
  display: none;
  height: 330px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.merchants_edit .search_box {
  position: absolute;
  right: -80px;
  top: 30px;
  width: 200px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid #1dc6bc;
  background: #FFFFFF;
  color: #333;
  box-shadow: 0 0 5px 1px #1dc6bc;
  z-index: 10;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.merchants_edit .search_box ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.merchants_edit .search_box ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
.merchants_edit .search_box ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
.merchants_edit .search_box .search_input {
  position: relative;
  padding-left: 20px;
  height: 32px;
}
.merchants_edit .search_box .search_input:before {
  position: absolute;
  left: 5px;
  top: 10px;
  display: block;
  content: '';
  width: 11px;
  height: 11px;
  background: url(../img/manager_search_icon.png) no-repeat;
}
.merchants_edit .search_box .search_input .m_search {
  width: 160px;
  height: 25px;
  padding: 0 5px;
  border: none;
}
.merchants_edit .search_box .search_result {
  padding-left: 25px;
  max-height: 325px;
  overflow: auto;
}
.merchants_edit .search_box .res_item {
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}
.merchants_edit .search_box .res_item span {
  display: inline-block;
  width: 45%;
  padding-right: 3%;
}
.merchants_edit .btn_box {
  padding-left: 12%;
}
/***** 4 商户详情/审批页 *****/
.merchants_details {
  padding: 30px 0 20px;
  /*添加标签部分*/
}
.merchants_details .merchant_info {
  min-height: 110px;
  padding-left: 140px;
  position: relative;
}
.merchants_details .merchant_info .merchant_photo {
  position: absolute;
  top: 4px;
  left: 0;
  width: 128px;
}
.merchants_details .merchant_info .merchant_photo img {
  width: 120px;
  height: 90px;
  border: 1px solid #e4e4e4;
  padding: 3px;
  background: #FFFFFF;
  overflow: hidden;
}
.merchants_details .merchant_info .name {
  position: relative;
  height: 40px;
  line-height: 40px;
  /*padding-left: 30px;*/
  font-size: 24px;
  color: #2b3b4a;
  /*&:before{
                content: '';
                position:  absolute;
                left: 0;
                top: 9px;
                display:  block;
                width: 22px;
                height: 25px;
                background: url("../img/operation_small_icon.png") no-repeat -4px -461px;
            }*/
}
.merchants_details .merchant_info .create_info {
  width: 560px;
  height: 30px;
  line-height: 30px;
}
.merchants_details .merchant_info .create_info .create_time {
  margin-right: 20px;
}
.merchants_details .merchant_info .create_info .founder {
  margin-right: 20px;
}
.merchants_details .merchant_info .create_info samp {
  padding-left: 5px;
}
.merchants_details .setting_merchant {
  position: absolute;
  right: 0;
  top: 20px;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.merchants_details .tags {
  position: relative;
  height: auto;
  line-height: 40px;
  padding-left: 50px;
}
.merchants_details .tags .tags_title {
  position: absolute;
  left: 0;
  width: 50px;
}
.merchants_details .tags:after {
  content: '';
  display: block;
  clear: both;
}
.merchants_details .tags_list {
  padding-left: 5px;
}
.merchants_details .tags_list .tag {
  position: relative;
  max-width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 0 15px 0 15px;
  margin: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition: all 0.2s;
}
.merchants_details .tags_list .tag:hover {
  color: #FFFFFF;
  background: #1dc6bc;
  padding-right: 25px;
}
.merchants_details .tags_list .tag:hover .delete_btn {
  display: block;
}
.merchants_details .tags_list .delete_btn {
  z-index: 100;
  display: none;
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-image: url("../img/close_icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.merchants_details .tag_manage_btn {
  position: relative;
  padding-left: 30px;
  color: #1dc6bc;
  cursor: pointer;
}
.merchants_details .tag_manage_btn:before {
  content: '';
  position: absolute;
  left: 9px;
  top: 9px;
  width: 23px;
  height: 20px;
  margin-top: 1px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -839px;
  vertical-align: middle;
}
.merchants_details .tag_manage_btn:hover {
  color: #0b9c94;
}
.merchants_details .tag_manage_btn:hover:before {
  background-position: 0 -1131px;
}
.merchants_details .tags_warehouse {
  z-index: 10;
  position: absolute;
  top: 40px;
  right: 0;
  width: 216px;
  height: 250px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.merchants_details .tags_warehouse .add_container {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
}
.merchants_details .tags_warehouse .add_container input {
  width: 150px;
  height: 26px;
  border: none;
  text-indent: .8em;
}
.merchants_details .tags_warehouse .create_tag_btn {
  display: inline-block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  margin: 20px 0 0 5px;
  color: #1dc6bc;
}
.merchants_details .tags_warehouse .create_tag_btn:hover {
  color: #0b9c94;
}
.merchants_details .tags_warehouse .warehouse_list {
  height: 180px;
  color: #535e6a;
  overflow-y: scroll;
}
.merchants_details .tags_warehouse .warehouse_list:after {
  content: '';
  display: block;
  clear: both;
}
.merchants_details .tags_warehouse .warehouse_list .tag_item {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 25px 0 20px;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  cursor: default;
}
.merchants_details .tags_warehouse .warehouse_list .tag_item:hover {
  background: #f5f5f5;
}
.merchants_details .tags_warehouse .warehouse_list .tag_item:hover .delete_tag_btn {
  display: block;
}
.merchants_details .tags_warehouse .warehouse_list .delete_tag_btn {
  position: absolute;
  right: 4px;
  top: 8px;
  display: none;
  width: 23px;
  height: 23px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -796px;
}
.merchants_details .tags_warehouse .warehouse_list .delete_tag_btn:hover {
  background-position: 0 -1024px;
}
.merchants_details .tags_warehouse .warehouse_list .tag_item.active:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 16px;
  display: block;
  width: 10px;
  height: 8px;
  background: url("../img/operation_small_icon.png") no-repeat -4px -1191px;
}
.merchants_details .tags_warehouse ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.merchants_details .tags_warehouse ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
.merchants_details .tags_warehouse ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
.merchants_details .merchant_desc {
  margin-top: 10px;
}
.merchants_details .classify_title {
  position: relative;
}
.merchants_details .classify_title.new:before {
  content: '新';
  position: absolute;
  top: 9px;
  left: -22px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #1dc6bc;
  color: #FFFFFF;
  font-size: 12px;
}
/***** 工商信息展示按钮 ******/
.section .business_info_sm_btn {
  position: fixed;
  right: 19%;
  bottom: 100px;
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url("../img/business_info_icon.png") no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px 2px rgba(11, 156, 148, 0.5);
  -moz-box-shadow: 0 0 8px 2px rgba(11, 156, 148, 0.5);
  box-shadow: 0 0 8px 2px rgba(11, 156, 148, 0.5);
}
.section .business_info_sm_btn:hover {
  background: url("../img/business_info_icon_h.png") no-repeat;
}
/* 工商信息查询结果 */
.business_result {
  z-index: 10;
  position: fixed;
  bottom: 170px;
  right: 19%;
  display: none;
  width: 420px;
  height: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  text-align: justify;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.business_result ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.business_result ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
.business_result ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
.business_result .result_detail {
  height: 290px;
  padding: 0px 15px 15px 15px;
  overflow-y: scroll;
}
.business_result .result_detail .title {
  height: 40px;
  line-height: 40px;
  color: #FB2741 ;
  font-size: 14px;
  border: none;
}
.business_result .result_detail .detail_list {
  height: 290px;
  padding-left: 20px;
}
.business_result .result_detail .detail_item {
  height: 30px;
  line-height: 30px;
}
.business_result .result_detail .detail_item:after {
  content: '';
  display: block;
  clear: both;
}
.business_result .result_detail .detail_item .item_name,
.business_result .result_detail .detail_item .item_value {
  float: left;
}
.business_result .result_detail .item_name {
  width: 90px;
}
.business_result .result_detail .item_value {
  width: 250px;
}
.business_result .result_header {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.business_result .result_header .close_btn {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  color: #808891;
  cursor: pointer;
}
.business_result .result_header .close_btn:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -1147px;
  vertical-align: middle;
}
.business_result .result_header .close_btn:hover {
  color: #535e6a;
}
.business_result .result_header .close_btn:hover:before {
  background-position: 0 -1167px;
}
.business_result .no_business_info {
  height: 260px;
  overflow: hidden;
}
.business_result .no_business_info .no_data_icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 80px auto 0;
  background: url("../img/no_business_data.png") no-repeat;
}
.business_result .no_business_info .tip_info {
  height: 60px;
  line-height: 60px;
}
