/**
 * Created by Arley on 2017/6/21.
 */
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
.questions_list .new_btn_box {
  margin: 15px 0 30px;
}
.questions_list .questions_list {
  width: 100%;
  height: auto;
}
.questions_list .questions_list .list_item {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.questions_list .questions_list .list_item:hover {
  background: #f5f5f5;
}
.questions_list .questions_list .list_item:hover .question_btns {
  display: block;
}
.questions_list .question_list_detail_txt_null {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.questions_list .detail_title_btn {
  font-size: 14px;
}
.questions_list .detail_title_btn.delete_btn {
  margin-right: 20px;
}
.questions_list .question_btns {
  display: none;
  float: right;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  text-align: right;
}
.questions_list .question_btns .question_btn {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-top: 13px;
  margin-right: 5px;
  background: url("../img/operation_small_icon.png") no-repeat 0 0;
  cursor: pointer;
}
.questions_list .question_btns .edit_btn {
  background-position: -61px -361px;
}
.questions_list .question_btns .edit_btn:hover {
  background-position: -61px -380px;
}
.questions_list .question_btns .history_btn {
  background-position: -61px -399px;
}
.questions_list .question_btns .history_btn:hover {
  background-position: -61px -418px;
}
.questions_list .question_btns .remove_btn {
  background-position: -61px -437px;
}
.questions_list .question_btns .remove_btn:hover {
  background-position: -61px -456px;
}
/******* 意见反馈列表页 Begin *********/
.feedback_container {
  margin-top: 20px;
  margin-bottom: 80px;
}
.feedback_container .personal_tag {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 18px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
}
.feedback_container .btn_box {
  width: 90%;
  margin-top: 0;
  text-align: right;
}
.feedback_container .remark_box {
  padding: 20px 0 0;
}
.feedback_container .remark_box .remark {
  box-sizing: border-box;
  height: 80px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #FFFFFF;
}
.feedback_container .todo_list {
  margin-top: 20px;
}
.feedback_detail {
  margin: 40px 0 0;
  padding: 15px 0 0;
}
.feedback_detail .column_name {
  width: 10%;
}
.feedback_detail .option_item {
  line-height: 40px;
}
.img_list {
  overflow: hidden;
  margin-top: 10px;
}
.img_list .img_item {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 15px 15px 0;
  overflow: hidden;
}
.img_list .img_item img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.feedback_type {
  display: inline-block;
  width: 40px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #1dc6bc;
  border-radius: 2px;
  margin-right: 5px;
}
/******* 意见反馈列表页 End *********/
/******* 意见反馈创建页 Begin *********/
.feedback_create .form_options {
  margin-top: 15px;
  background: none;
  padding: 0;
}
.feedback_create .form_options .column_name {
  width: 8%;
}
.feedback_create .form_options .column_val {
  width: 92%;
}
.feedback_create .form_options textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  font-size: 12px;
}
.feedback_create .error_msg {
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
}
.feedback_create .btn_box {
  margin-top: 0;
}
/******* 意见反馈创建页 End *********/
