/**
 * Created by Arley on 2017/6/29.
 */
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
.warning_text {
  color: #FB2741;
}
.email_content {
  padding-top: 20px;
}
.email_content .recipient,
.email_content .subject {
  height: 30px;
  line-height: 30px;
  padding: 10px 0;
}
.email_content .recipient .item_key,
.email_content .subject .item_key {
  display: inline-block;
  width: 60px;
}
.email_content .subject .item_val {
  display: inline-block;
  width: 200px;
  padding: 0 10px;
  background: #f5f5f5;
}
.email_content .file_upload {
  padding-left: 60px;
}
.email_content .btn_box {
  padding-left: 60px;
}
.gps_create,
.gps_edit,
.gps_view,
.gps_put_in,
.express,
.to_face,
.disagree,
.administrative_storage {
  padding-top: 20px;
  /*.warehouses,.tags{
        min-height: 80px;
    }*/
}
.gps_create .row_title,
.gps_edit .row_title,
.gps_view .row_title,
.gps_put_in .row_title,
.express .row_title,
.to_face .row_title,
.disagree .row_title,
.administrative_storage .row_title {
  width: 8%;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.gps_create .row_item,
.gps_edit .row_item,
.gps_view .row_item,
.gps_put_in .row_item,
.express .row_item,
.to_face .row_item,
.disagree .row_item,
.administrative_storage .row_item {
  min-height: 0;
  height: 30px;
  clear: both;
}
.gps_create .row_val,
.gps_edit .row_val,
.gps_view .row_val,
.gps_put_in .row_val,
.express .row_val,
.to_face .row_val,
.disagree .row_val,
.administrative_storage .row_val {
  width: 89.6%;
  margin-left: 2%;
}
.gps_create .more_value,
.gps_edit .more_value,
.gps_view .more_value,
.gps_put_in .more_value,
.express .more_value,
.to_face .more_value,
.disagree .more_value,
.administrative_storage .more_value {
  min-height: 0;
}
.gps_create .btn_box,
.gps_edit .btn_box,
.gps_view .btn_box,
.gps_put_in .btn_box,
.express .btn_box,
.to_face .btn_box,
.disagree .btn_box,
.administrative_storage .btn_box {
  padding-left: 102px;
}
.gps_create .warehouses_list,
.gps_edit .warehouses_list,
.gps_view .warehouses_list,
.gps_put_in .warehouses_list,
.express .warehouses_list,
.to_face .warehouses_list,
.disagree .warehouses_list,
.administrative_storage .warehouses_list {
  width: 100%;
  height: auto;
}
.gps_create .warehouses_list .warehouse_item,
.gps_edit .warehouses_list .warehouse_item,
.gps_view .warehouses_list .warehouse_item,
.gps_put_in .warehouses_list .warehouse_item,
.express .warehouses_list .warehouse_item,
.to_face .warehouses_list .warehouse_item,
.disagree .warehouses_list .warehouse_item,
.administrative_storage .warehouses_list .warehouse_item {
  float: left;
  height: 16px;
  line-height: 16px;
  padding: 3px 8px;
  margin: 4px 15px 15px 0;
  width: 80px;
  text-align: center;
  border: 1px dashed #979797;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gps_create .warehouses_list .warehouse_item:hover,
.gps_edit .warehouses_list .warehouse_item:hover,
.gps_view .warehouses_list .warehouse_item:hover,
.gps_put_in .warehouses_list .warehouse_item:hover,
.express .warehouses_list .warehouse_item:hover,
.to_face .warehouses_list .warehouse_item:hover,
.disagree .warehouses_list .warehouse_item:hover,
.administrative_storage .warehouses_list .warehouse_item:hover {
  border-color: #1dc6bc;
  background: #1dc6bc;
  color: #FFFFFF;
  cursor: pointer;
}
.gps_create .warehouses_list .warehouse_item.selected,
.gps_edit .warehouses_list .warehouse_item.selected,
.gps_view .warehouses_list .warehouse_item.selected,
.gps_put_in .warehouses_list .warehouse_item.selected,
.express .warehouses_list .warehouse_item.selected,
.to_face .warehouses_list .warehouse_item.selected,
.disagree .warehouses_list .warehouse_item.selected,
.administrative_storage .warehouses_list .warehouse_item.selected {
  border-color: #1dc6bc;
  background: #1dc6bc;
  color: #FFFFFF;
}
.gps_create .tags_box,
.gps_edit .tags_box,
.gps_view .tags_box,
.gps_put_in .tags_box,
.express .tags_box,
.to_face .tags_box,
.disagree .tags_box,
.administrative_storage .tags_box {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  padding: 10px 8px;
  min-height: 30px;
}
.gps_create .tags_box .tags_list,
.gps_edit .tags_box .tags_list,
.gps_view .tags_box .tags_list,
.gps_put_in .tags_box .tags_list,
.express .tags_box .tags_list,
.to_face .tags_box .tags_list,
.disagree .tags_box .tags_list,
.administrative_storage .tags_box .tags_list {
  overflow: hidden;
}
.gps_create .tags_box .tags_list .tag_item,
.gps_edit .tags_box .tags_list .tag_item,
.gps_view .tags_box .tags_list .tag_item,
.gps_put_in .tags_box .tags_list .tag_item,
.express .tags_box .tags_list .tag_item,
.to_face .tags_box .tags_list .tag_item,
.disagree .tags_box .tags_list .tag_item,
.administrative_storage .tags_box .tags_list .tag_item {
  position: relative;
  float: left;
  height: 16px;
  line-height: 16px;
  padding: 3px 15px;
  margin: 0 15px 15px 0;
  background: #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gps_create .tags_box .tags_list .tag_item:hover,
.gps_edit .tags_box .tags_list .tag_item:hover,
.gps_view .tags_box .tags_list .tag_item:hover,
.gps_put_in .tags_box .tags_list .tag_item:hover,
.express .tags_box .tags_list .tag_item:hover,
.to_face .tags_box .tags_list .tag_item:hover,
.disagree .tags_box .tags_list .tag_item:hover,
.administrative_storage .tags_box .tags_list .tag_item:hover {
  background: #1dc6bc;
  color: #FFFFFF;
  cursor: default;
}
.gps_create .tags_box .tags_list .tag_item:hover .delete_icon,
.gps_edit .tags_box .tags_list .tag_item:hover .delete_icon,
.gps_view .tags_box .tags_list .tag_item:hover .delete_icon,
.gps_put_in .tags_box .tags_list .tag_item:hover .delete_icon,
.express .tags_box .tags_list .tag_item:hover .delete_icon,
.to_face .tags_box .tags_list .tag_item:hover .delete_icon,
.disagree .tags_box .tags_list .tag_item:hover .delete_icon,
.administrative_storage .tags_box .tags_list .tag_item:hover .delete_icon {
  display: inline-block;
}
.gps_create .tags_box .tags_list .tag_item.add_tag_box,
.gps_edit .tags_box .tags_list .tag_item.add_tag_box,
.gps_view .tags_box .tags_list .tag_item.add_tag_box,
.gps_put_in .tags_box .tags_list .tag_item.add_tag_box,
.express .tags_box .tags_list .tag_item.add_tag_box,
.to_face .tags_box .tags_list .tag_item.add_tag_box,
.disagree .tags_box .tags_list .tag_item.add_tag_box,
.administrative_storage .tags_box .tags_list .tag_item.add_tag_box {
  width: 160px;
  background: none;
  padding: 0;
  height: 22px;
}
.gps_create .tags_box .tags_list .tag_item.add_tag_box input,
.gps_edit .tags_box .tags_list .tag_item.add_tag_box input,
.gps_view .tags_box .tags_list .tag_item.add_tag_box input,
.gps_put_in .tags_box .tags_list .tag_item.add_tag_box input,
.express .tags_box .tags_list .tag_item.add_tag_box input,
.to_face .tags_box .tags_list .tag_item.add_tag_box input,
.disagree .tags_box .tags_list .tag_item.add_tag_box input,
.administrative_storage .tags_box .tags_list .tag_item.add_tag_box input {
  width: inherit;
  height: 20px;
  text-indent: .5em;
  border: 1px solid #e4e4e4;
}
.gps_create .tags_box .add_tag_btn,
.gps_edit .tags_box .add_tag_btn,
.gps_view .tags_box .add_tag_btn,
.gps_put_in .tags_box .add_tag_btn,
.express .tags_box .add_tag_btn,
.to_face .tags_box .add_tag_btn,
.disagree .tags_box .add_tag_btn,
.administrative_storage .tags_box .add_tag_btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/add_circle_icon.png") no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.gps_create .tags_box .add_tag_btn:hover,
.gps_edit .tags_box .add_tag_btn:hover,
.gps_view .tags_box .add_tag_btn:hover,
.gps_put_in .tags_box .add_tag_btn:hover,
.express .tags_box .add_tag_btn:hover,
.to_face .tags_box .add_tag_btn:hover,
.disagree .tags_box .add_tag_btn:hover,
.administrative_storage .tags_box .add_tag_btn:hover {
  background: url("../img/add_circle_icon_h.png") no-repeat;
}
.gps_create .delete_icon,
.gps_edit .delete_icon,
.gps_view .delete_icon,
.gps_put_in .delete_icon,
.express .delete_icon,
.to_face .delete_icon,
.disagree .delete_icon,
.administrative_storage .delete_icon {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-image: url('../img/close_icon.png');
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.gps_create .warn_inventory,
.gps_edit .warn_inventory,
.gps_view .warn_inventory,
.gps_put_in .warn_inventory,
.express .warn_inventory,
.to_face .warn_inventory,
.disagree .warn_inventory,
.administrative_storage .warn_inventory {
  padding-top: 10px;
  line-height: 30px;
}
.gps_create .warn_inventory .warn_num,
.gps_edit .warn_inventory .warn_num,
.gps_view .warn_inventory .warn_num,
.gps_put_in .warn_inventory .warn_num,
.express .warn_inventory .warn_num,
.to_face .warn_inventory .warn_num,
.disagree .warn_inventory .warn_num,
.administrative_storage .warn_inventory .warn_num {
  height: 20px;
  padding: 2px 5px;
  border: 1px solid #e4e4e4;
  font-size: 12px;
}
.gps_put_in,
.express,
.to_face,
.administrative_storage {
  line-height: 30px;
}
.gps_put_in .row_item,
.express .row_item,
.to_face .row_item,
.administrative_storage .row_item {
  margin-bottom: 10px;
  height: auto;
  overflow: hidden;
}
.gps_put_in .form_group,
.express .form_group,
.to_face .form_group,
.administrative_storage .form_group {
  float: left;
  width: 80px;
}
.gps_put_in select,
.express select,
.to_face select,
.administrative_storage select {
  width: 160px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e4e4e4;
}
.gps_put_in .sn_code_box,
.express .sn_code_box,
.to_face .sn_code_box,
.administrative_storage .sn_code_box {
  line-height: 30px;
}
.gps_put_in .sn_code_box .sn_code_list,
.express .sn_code_box .sn_code_list,
.to_face .sn_code_box .sn_code_list,
.administrative_storage .sn_code_box .sn_code_list {
  padding-top: 4px;
  overflow: hidden;
}
.gps_put_in .sn_code_box .sn_code_list .sn,
.express .sn_code_box .sn_code_list .sn,
.to_face .sn_code_box .sn_code_list .sn,
.administrative_storage .sn_code_box .sn_code_list .sn,
.gps_put_in .sn_code_box .sn_code_list .new_sn,
.express .sn_code_box .sn_code_list .new_sn,
.to_face .sn_code_box .sn_code_list .new_sn,
.administrative_storage .sn_code_box .sn_code_list .new_sn {
  position: relative;
  float: left;
  width: 180px;
  height: 26px;
  line-height: 26px;
  margin: 0 15px 15px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gps_put_in .sn_code_box .sn_code_list .sn:hover,
.express .sn_code_box .sn_code_list .sn:hover,
.to_face .sn_code_box .sn_code_list .sn:hover,
.administrative_storage .sn_code_box .sn_code_list .sn:hover {
  background: #1dc6bc;
  color: #FFFFFF;
}
.gps_put_in .sn_code_box .sn_code_list .sn:hover .delete_icon,
.express .sn_code_box .sn_code_list .sn:hover .delete_icon,
.to_face .sn_code_box .sn_code_list .sn:hover .delete_icon,
.administrative_storage .sn_code_box .sn_code_list .sn:hover .delete_icon {
  display: inline-block;
}
.gps_put_in .sn_code_box .sn_code_list .new_sn,
.express .sn_code_box .sn_code_list .new_sn,
.to_face .sn_code_box .sn_code_list .new_sn,
.administrative_storage .sn_code_box .sn_code_list .new_sn {
  background: none;
}
.gps_put_in .sn_code_box .sn_code_list .new_sn .new_sn_input,
.express .sn_code_box .sn_code_list .new_sn .new_sn_input,
.to_face .sn_code_box .sn_code_list .new_sn .new_sn_input,
.administrative_storage .sn_code_box .sn_code_list .new_sn .new_sn_input {
  width: 98%;
  height: 24px;
  text-indent: 1em;
  border: 1px solid #535e6a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: top;
  font-size: 12px;
}
.gps_put_in .sn_code_box .sn_code_list .add_sn_btn,
.express .sn_code_box .sn_code_list .add_sn_btn,
.to_face .sn_code_box .sn_code_list .add_sn_btn,
.administrative_storage .sn_code_box .sn_code_list .add_sn_btn {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background: url('../img/add_circle_icon.png') no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.gps_put_in .sn_code_box .sn_code_list .add_sn_btn:hover,
.express .sn_code_box .sn_code_list .add_sn_btn:hover,
.to_face .sn_code_box .sn_code_list .add_sn_btn:hover,
.administrative_storage .sn_code_box .sn_code_list .add_sn_btn:hover {
  background: url('../img/add_circle_icon_h.png') no-repeat;
}
.express .express_num,
.to_face .express_num,
.disagree .express_num,
.administrative_storage .express_num,
.express .person_name,
.to_face .person_name,
.disagree .person_name,
.administrative_storage .person_name,
.express .item_name,
.to_face .item_name,
.disagree .item_name,
.administrative_storage .item_name {
  width: 180px;
  height: 28px;
  border: 1px solid #e4e4e4;
  text-indent: 1em;
  font-size: 12px;
}
.express .remark,
.to_face .remark,
.disagree .remark,
.administrative_storage .remark {
  width: 300px;
  height: 60px;
  min-height: 0;
}
/* GPS详情页 */
.gps_details,
.administrative_details {
  padding: 30px 0 100px;
}
.gps_details .warehouse_info .name,
.administrative_details .warehouse_info .name {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  font-size: 24px;
  color: #2b3b4a;
}
.gps_details .warehouse_info .name:before,
.administrative_details .warehouse_info .name:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 24px;
  height: 20px;
  background: url("../img/operation_small_icon.png") no-repeat -4px -437px;
}
.gps_details .warehouse_info .create_info,
.administrative_details .warehouse_info .create_info {
  width: 260px;
  height: 14px;
  line-height: 14px;
  color: #cccccc;
}
.gps_details .warehouse_info .create_info .create_time,
.administrative_details .warehouse_info .create_info .create_time {
  margin-right: 10px;
}
.gps_details .sn_details,
.administrative_details .sn_details,
.gps_details .a_details,
.administrative_details .a_details {
  margin-top: 40px;
}
.gps_details .sn_details .tab,
.administrative_details .sn_details .tab,
.gps_details .a_details .tab,
.administrative_details .a_details .tab {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 14px;
  color: #2b3b4a;
}
.gps_details .sn_details .tab .create_btn,
.administrative_details .sn_details .tab .create_btn,
.gps_details .a_details .tab .create_btn,
.administrative_details .a_details .tab .create_btn {
  float: right;
  height: auto;
  line-height: normal;
  vertical-align: top;
}
.gps_details .sn_details .tab .create_btn:before,
.administrative_details .sn_details .tab .create_btn:before,
.gps_details .a_details .tab .create_btn:before,
.administrative_details .a_details .tab .create_btn:before {
  top: 4px;
}
.gps_details .sn_details .tab_list,
.administrative_details .sn_details .tab_list,
.gps_details .a_details .tab_list,
.administrative_details .a_details .tab_list {
  width: 260px;
  padding-left: 15px;
  overflow: hidden;
}
.gps_details .sn_details .tab_list .tab_item,
.administrative_details .sn_details .tab_list .tab_item,
.gps_details .a_details .tab_list .tab_item,
.administrative_details .a_details .tab_list .tab_item {
  position: relative;
  float: left;
  width: 86px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.gps_details .sn_details .tab_list .tab_item:after,
.administrative_details .sn_details .tab_list .tab_item:after,
.gps_details .a_details .tab_list .tab_item:after,
.administrative_details .a_details .tab_list .tab_item:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  background: #1dc6bc;
  -webkit-transition-property: 'left, right';
  transition-property: 'left, right';
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.gps_details .sn_details .tab_list .tab_item:hover,
.administrative_details .sn_details .tab_list .tab_item:hover,
.gps_details .a_details .tab_list .tab_item:hover,
.administrative_details .a_details .tab_list .tab_item:hover {
  color: #1dc6bc;
}
.gps_details .sn_details .tab_list .tab_item:hover:after,
.administrative_details .sn_details .tab_list .tab_item:hover:after,
.gps_details .a_details .tab_list .tab_item:hover:after,
.administrative_details .a_details .tab_list .tab_item:hover:after {
  left: 0;
  right: 0;
}
.gps_details .sn_details .tab_list .tab_item.not_out,
.administrative_details .sn_details .tab_list .tab_item.not_out,
.gps_details .a_details .tab_list .tab_item.not_out,
.administrative_details .a_details .tab_list .tab_item.not_out {
  margin-right: 20px;
}
.gps_details .sn_details .tab_list .tab_item:hover,
.administrative_details .sn_details .tab_list .tab_item:hover,
.gps_details .a_details .tab_list .tab_item:hover,
.administrative_details .a_details .tab_list .tab_item:hover,
.gps_details .sn_details .tab_list .tab_item.active,
.administrative_details .sn_details .tab_list .tab_item.active,
.gps_details .a_details .tab_list .tab_item.active,
.administrative_details .a_details .tab_list .tab_item.active {
  color: #1dc6bc;
}
.gps_details .sn_details .tab_list .tab_item:hover:after,
.administrative_details .sn_details .tab_list .tab_item:hover:after,
.gps_details .a_details .tab_list .tab_item:hover:after,
.administrative_details .a_details .tab_list .tab_item:hover:after,
.gps_details .sn_details .tab_list .tab_item.active:after,
.administrative_details .sn_details .tab_list .tab_item.active:after,
.gps_details .a_details .tab_list .tab_item.active:after,
.administrative_details .a_details .tab_list .tab_item.active:after {
  left: 0;
  right: 0;
}
.gps_details .sn_details .already_out_list,
.administrative_details .sn_details .already_out_list,
.gps_details .a_details .already_out_list,
.administrative_details .a_details .already_out_list {
  display: block;
}
.gps_details .filtrate,
.administrative_details .filtrate {
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 12px;
}
.gps_details .filtrate .filtrate_select,
.administrative_details .filtrate .filtrate_select {
  width: 230px;
  font-size: 12px;
}
.gps_details .filtrate .filtrate_tags,
.administrative_details .filtrate .filtrate_tags {
  margin-left: 30px;
}
.gps_details .a_details .filtrate,
.administrative_details .a_details .filtrate {
  height: 50px;
}
.gps_details .sn_list,
.administrative_details .sn_list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.gps_details .sn_list tr,
.administrative_details .sn_list tr {
  height: 46px;
  border: 1px solid #e4e4e4;
}
.gps_details .sn_list th,
.administrative_details .sn_list th {
  background: #f5f5f5;
}
.gps_details .sn_list td,
.administrative_details .sn_list td,
.gps_details .sn_list th,
.administrative_details .sn_list th {
  text-align: center;
  vertical-align: middle;
  padding-left: 1%;
  padding-right: 1%;
}
.gps_details .sn_list .delete_sn_btn,
.administrative_details .sn_list .delete_sn_btn,
.gps_details .sn_list .delete_d_btn,
.administrative_details .sn_list .delete_d_btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -385px;
  vertical-align: middle;
  cursor: pointer;
}
.gps_details .sn_list .delete_sn_btn:hover,
.administrative_details .sn_list .delete_sn_btn:hover,
.gps_details .sn_list .delete_d_btn:hover,
.administrative_details .sn_list .delete_d_btn:hover {
  background-position: 0 -361px;
}
.gps_details .sn_list .edit_d_btn,
.administrative_details .sn_list .edit_d_btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../img/operation_small_icon.png") no-repeat 0 -662px;
  vertical-align: middle;
  cursor: pointer;
}
.gps_details .sn_list .edit_d_btn:hover,
.administrative_details .sn_list .edit_d_btn:hover {
  background-position: 0 -686px;
}
.gps_details .already_out_list span.inline,
.administrative_details .already_out_list span.inline {
  position: relative;
}
.gps_details .already_out_list .text_remark,
.administrative_details .already_out_list .text_remark {
  position: absolute;
  top: -8px;
  right: -20px;
  display: block;
  z-index: 100;
  content: '';
  width: 23px;
  height: 23px;
  background: url(../img/operation_small_icon.png) no-repeat -61px -48px;
}
.gps_details .already_out_list .text_remark:hover .desc,
.administrative_details .already_out_list .text_remark:hover .desc {
  display: block;
}
.gps_details .already_out_list .text_remark .desc,
.administrative_details .already_out_list .text_remark .desc {
  display: none;
  position: absolute;
  bottom: 25px;
  left: -8px;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: justify;
}
.gps_details .already_out_list .text_remark .desc:before,
.administrative_details .already_out_list .text_remark .desc:before {
  position: absolute;
  bottom: -5px;
  left: 15px;
  display: block;
  z-index: 100;
  content: '';
  border-top: 5px solid rgba(0, 0, 0, 0.7);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
/* 行政仓库-新建入库 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background-color: #fff;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #f1f1f1;
}
.set_user {
  position: relative;
  overflow: visible;
}
.set_user_item {
  overflow: inherit !important;
  height: 30px !important;
}
.set_box {
  z-index: 10;
  position: absolute;
  top: 34px;
  left: 2px;
  width: 180px;
  height: auto;
  -webkit-box-shadow: 0 0 5px 1px #1dc6bc;
  -moz-box-shadow: 0 0 5px 1px #1dc6bc;
  box-shadow: 0 0 5px 1px #1dc6bc;
  background-color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.set_box .user_list {
  max-height: 200px;
  overflow-y: auto;
}
.set_box .user_list .user_item {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #e4e4e4;
}
.set_box .user_list .user_item:last-child {
  border-bottom: none;
}
.set_box .user_list .user_item:hover {
  background-color: #1dc6bc;
  color: #FFFFFF;
}
.set_box .user_list .name,
.set_box .user_list .user_mark {
  float: left;
}
.set_box .user_list .name {
  width: 40%;
}
.set_box .user_list .user_mark {
  width: 52%;
}
/* 行政仓库详情 */
.detail_title {
  position: relative;
  display: inline-block;
  height: inherit;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
.detail_title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  height: 18px;
  border-left: 4px solid #1dc6bc;
}
/* GPS申请-待处理页 */
.apply_detail {
  margin: 20px 0 100px 0;
  font-size: 14px;
}
.apply_detail .row_title {
  text-align: right;
  color: #808991;
}
.apply_detail .row_val {
  padding-left: 10px;
  font-weight: bold;
}
.apply_detail .row_item {
  height: 30px;
  line-height: 30px;
  min-height: 0;
}
.apply_detail .send_btn_box {
  height: 50px;
  line-height: 50px;
  text-align: right;
}
.apply_detail .send_btn:before {
  width: 18px;
  height: 16px;
  left: 6px;
  top: 5px;
}
.apply_detail .apply_list {
  height: auto;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f5f5f5;
  transition: all 0.5s;
}
.apply_detail .apply_list .store_info {
  padding: 20px 0;
  overflow: hidden;
}
.apply_detail .apply_list .store_info .info_item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 20%;
  height: 72px;
  line-height: 72px;
  padding: 0 10px;
  text-align: center;
}
.apply_detail .apply_list .store_info .item_name,
.apply_detail .apply_list .store_info .item_val {
  height: 36px;
  line-height: 36px;
}
.apply_detail .apply_list .store_info .item_name {
  color: #808891;
}
.apply_detail .apply_list .sn_list {
  font-size: 12px;
  padding: 0 30px 20px 30px;
  overflow: hidden;
}
.apply_detail .apply_list .sn_list .sn_item {
  float: left;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin: 15px 20px 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}
.apply_detail .apply_list .sn_list .sn_item:nth-child(7n) {
  margin-right: 0;
}
.apply_detail .apply_list .sn_list .sn_item.active {
  background-color: #1dc6bc;
  color: #FFFFFF;
}
.apply_detail .apply_list:last-child {
  margin-bottom: 0;
}
.apply_detail .apply_list.warning {
  position: relative;
}
.apply_detail .apply_list.warning:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  height: inherit;
  background: #FB2741;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.apply_detail .form_options {
  margin: 0;
  padding: 0 0 20px 20px;
}
.apply_detail .form_group {
  width: 190px;
  line-height: 30px;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.apply_detail .form_group input[type='checkbox'] + label:before {
  top: -1px;
}
/**** 城市管理部分 BEGIN ****/
.workflow_list,
.table_list {
  width: 100%;
  text-align: center;
}
.workflow_list tr,
.table_list tr {
  height: 60px;
  line-height: 60px;
  border: 1px solid #e4e4e4;
}
.workflow_list tr th,
.table_list tr th,
.workflow_list tr td,
.table_list tr td {
  color: #535e6a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2%;
}
.workflow_list tr td.role_desc,
.table_list tr td.role_desc {
  color: #808991;
}
.workflow_list tr th:last-child,
.table_list tr th:last-child,
.workflow_list tr td:last-child,
.table_list tr td:last-child {
  padding: 0 0 0 2%;
}
.workflow_list tr th:first-child,
.table_list tr th:first-child,
.workflow_list tr td:first-child,
.table_list tr td:first-child {
  padding: 0 2% 0 0;
}
.workflow_list thead tr,
.table_list thead tr {
  background: #fafafa;
}
.workflow_list thead tr th,
.table_list thead tr th {
  font-weight: normal;
  font-size: 14px;
}
/**** 城市管理部分 END ****/
