
#select_status{
    width:230px;
    height:30px;
    border:1px solid #e4e4e4;
    padding-left:5px;
}
.pass_radio{
    height:30px;
    line-height: 30px;
}
.real_loan_amount{
    width:90px;
    height:30px;
    border:1px solid #e4e4e4;
    padding-left:5px;
}
.unPass{
    display:none;
}