
.spacer{
    width:170px;height:190px;
    position: absolute;
    left:0;top:0;
    bottom:0;right:0;
    margin:auto auto;
}
.spacer img{
    width:170px;height:139px;
    position: absolute;
    left:0;top:0;
}
.spacerText{
    width:170px;height:50px;
    color:#E4E4E4;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}