body,ul,dl,dt,li,p,form,h1,h2,h3,h4,h5,h6,input,div,span,a,select,option,button{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    list-style: none;
    font-family:  "Microsoft YaHei", Arial, sans-serif;
}
body{
    overflow-x: auto;
    background:#fff;
}
select{
	background-color:#fff;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}
input[type="file"]::-webkit-file-upload-button{
    cursor: pointer;
}
.headerH,.headerH>ul>li{
    height:66px;
    position: relative;
}
.headerH>ul>li>a{
    width:100%;height:66px;
    line-height: 66px;
}
.headerH>ul>li>a>img[class="exit"],.headerH>ul>li>a>img[class="personal_email"]{
    position: absolute;
    left:0;top:23px;
    right:0;
}

img{
    border: none;
}
.img_responsive {
    max-width: 100%;
}
a{
    text-decoration: none;
}
.blod{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
nav>li>a{
    color:#fff;
}
.leftLi>a:hover{
    color:#1DC6BC !important;
    text-decoration: none;
}
.leftLi{
    text-align: center;
    line-height: 60px;
}
.rightLiL>a:hover{
    text-decoration: none;
    cursor: pointer;
}
.navbar-right>li{
    width:auto;
}
.collapse .nav .leftLi>a{
    width:108px;
    padding-top:0;
}
body{
    background-color:#fff;
}
*{
    box-sizing: border-box;
}
table{
    cellspacing:1px;
}
td{
    word-break: break-all;
}
.error_msg {
    display: none;
    color: #FB2741;
    height: 20px;
    line-height: 20px;
}
.relative{
    position: relative;
}
.fontB{
    font-weight: 700;
    font-size:14px;
    cursor: text;
}
.cursor{
    cursor: pointer;
}
.inline{
    display:inline-block;
}
.minWidth{
    min-width:1200px;
}
.before:before{
    content: ">";
}
.after:before{
    content: ">";
}
.after>a{
    color:#535E6A;
}
.colorB>a{
    color:#1DC6BC;
}
:focus {
    outline: 0;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
}
.left{
    padding-left: 20px;
    text-align: left;
}
.center{
    text-align: center;
}
.navLeftli>a{
    width:100%;
    height:50px;
    line-height: 50px;
    color:#535E6A;
    text-decoration: none;
}
.cur{
    width:5px;height:5px;
    border-radius: 50%;
    background:#1DC6BC;
    position: absolute;
    left:-9px;
    top:22px;
}
.bumen>a:hover,.tongshi>a:hover{
    color:#1DC6BC;
}
.newMes{
    width:7px;height:7px;
    border-radius: 50%;
    background:#1DC6BC;
    position: absolute;
    top:26px;left:13px;
    z-index:1;
}
.container{
    /*margin-left:100px;*/
}
.navLeftli{
    padding:0;position: relative;
}
.colorB>a[class='TS']{
    color:#535E6A;
}
.colorB>a[class='TS']:hover{
    color:#1DC6BC;
}
.before a{
    color:#535E6A !important;
    font-size: 12px;
    margin-left:4px;
}
.before a:hover{
    color:#1DC6BC !important;
    font-size: 12px;
    margin-left:4px;
}
.before:last-child a{
    color : #808991 !important;
    cursor: default;
}

.navbar{
    margin-bottom: 12px !important;
}
.navLeftTitle{
    /*margin-top: 2px;*/
    height: 54px;
    line-height: 54px;
}
.bold{
    font-weight: bold;
}
.inviteCon{
    line-height: 30px !important;
}
/**********Header Begin***********/
/*The class of full screen*/
.full_width {
    width: 100%;
    /*overflow: hidden;*/
}
/*The class of normal width*/
.normal_width {
    margin: 0 auto;
    width: 1200px;
    /*overflow: hidden;*/
}
.inline_block {
    display: inline-block;
}
.block {
    display: block;
}
.small_icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../../img/operation_small_icon.png") no-repeat;
    vertical-align: middle;
}
/**********Header Begin***********/
.header {
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    background: #2b3c4a;
    color: #FFFFFF;
}
.header .header_content {
    height: inherit;
    font-size: 14px;
}
.header .logo {
    display: block;
    width: 60px;
    height: 60px;
    padding: 15.5px 10px;
    float: left;

    /*width: 40px;
    height: 29px;
    padding: 18.5px 13px;*/
}
.header ul {
    display: inline-block;
}
.header .header_nav {
    height: 60px;
    margin-left: 79px;
}
.header .header_nav .nav_item {
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
}
.header .header_nav .nav_item:hover, .header .header_nav .nav_item.active{
    background: rgba(0,0,0,.3);
}
.header .header_nav .nav_item a {
    font-size: 14px !important;
    display: block;
    color: #FFFFFF;
}
/*.header .header_nav .nav_item:hover a {
    color: #1DC6BC;
}*/
.header .header_nav .nav_item.active {
    height: 60px;
    /*border-bottom: 3px solid #1DC6BC;*/
}
/*.header .header_nav .nav_item.active a {

    color: #1DC6BC;
}*/
.header .header_nav .nav_item:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #1dc6bc;
    height: 3px;
    -webkit-transition-property: 'left, right';
    transition-property: 'left, right';
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header .header_nav .nav_item:hover,
.header .header_nav .nav_item.active {
    background: rgba(0, 0, 0, 0.3);
}
.header .header_nav .nav_item:hover a {
    color: #1dc6bc;
}
.header .header_nav .nav_item:hover:after,
.header .header_nav .nav_item.active:after {
    left: 0;
    right: 0;
}
.header .header_nav .nav_item.active a {
    color: #1dc6bc;
}
.header .header_username {
    font-size: 12px;
}
.header .login {
    float: right;
    height: inherit;
}
.header .login > li {
    float: left;
    height: inherit;
}
.header .login > li > a {
    display: block;
    width: inherit;
    height: inherit;
    text-align: center;
    color: #FFFFFF;
}
.header .login .characters {
    max-width: 115px;
    padding: 0 35px;
    position: relative;
}
.header .login .characters .character_photo {
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 18px;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.header .login .characters a {
    text-align: left;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header .login .characters:after {
    display: block;
    position: absolute;
    top: 28px;
    right: 16px;
    content: '';
    border-top: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.header .login .characters:hover:after {
    transform-origin: center 3px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
}
.header .login .characters:hover .user_setting {
    display: block;
}
.header .login .characters .user_setting {
    display: none;
    position: absolute;
    top: 68px;
    left: 6px;
    z-index: 100000;
    width: 100px;
    height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.header .login .characters .user_setting .setting_item {
    height: 40px;
    line-height: 40px;
    background: #2B3C4A;
}
.header .login .characters .user_setting .setting_item a {
    display: block;
    text-align: center;
    color: #FFFFFF;
}
.header .login .characters .user_setting .setting_item:hover a {
    color: #1DC6BC;
}
.header .login .characters .user_setting .setting_item:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.header .login .characters .user_setting .setting_item:last-child {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header .login .characters .user_setting:before {
    display: block;
    z-index: 100;
    position: absolute;
    top: -8px;
    left: 36px;
    content: '';
    border-bottom: 8px solid #2B3C4A;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.header .login .characters .user_setting:after {
    display: block;
    z-index: 90;
    position: absolute;
    top: -8px;
    left: 0;
    content: '';
    width: 100%;
    height: 8px;
    background: #FFFFFF;
}
/*.header .login .characters:hover a {
    color: #1DC6BC;
}*/
.header .login .message {
    position: relative;
    width: 40px;
}
.header .login .message .message_icon {
    display: block;
    position: relative;
    width: 28px;
    height: 30px;
    margin-top: 15px;
    background: url("../../img/header-nav-icon.png") no-repeat 0 -28px;
}
.header .login .message .message_tip {
    display: none;
    z-index: 100;
    position: absolute;
    top: 66px;
    left: -76px;
    width: 180px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 8px;
    background: rgba(83, 94, 106, 0.9);
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s;
}
.header .login .message .message_tip .count {
    color: #1DC6BC;
}
.header .login .message .message_tip:before {
    display: block;
    position: absolute;
    top: -9px;
    left: 72px;
    content: '';
    width: 34px;
    height: 10px;
    background: url("../../../static/img/message_tips_arrow.png") no-repeat center center;
}
.header .login .message.active .message_count {
    position: absolute;
    top: 4px;
    left: 0;
    display: none;
    min-width: 10px;
    height: 12px;
    line-height: 12px;
    padding: 0 5px;
    margin-left: 40%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: #1DC6BC;
    font-size: 10px;
    font-weight: 500;
    -webkit-text-size-adjust: none;
}
/*.header .login .message_icon:hover {
    background-position: 0 -54px;
}*/
.header .login .logout {
    width: 40px;
}
.header .login .logout .logout_icon {
    width: 27px;
    height: 29px;
    margin-top: 18.5px;
    background: url("../../img/header-nav-icon.png") no-repeat 0 -80px;
}
.header .login .logout_icon:hover {
    background-position: 0 -105px;
}
/**********Header End***********/
/********** 侧导航 Begin **********/
.section {
    position: relative;
}
.section a {
    color: #535e6a;
}
.section .slide_nav {
    float: left;
    width: 180px;
}
.section .slide_nav .slide_nav_title {
    height: 54px;
    line-height: 54px;
    padding-left: 10px;
    font-size: 14px;
    color: #535e6a;
}
.section .slide_nav .nav_item {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.section .slide_nav .nav_item a {
    display: block;
    color: #535e6a;
}
.section .slide_nav .nav_item:hover a,
.section .slide_nav .nav_item.active a {
    color: #1DC6BC;
}
.section .slide_nav .nav_item.active:before {
    position: absolute;
    left: 0;
    top: 23px;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #1DC6BC;
}
/********** 侧导航 End **********/
/********** 空数据样式 Begin **********/
.empty {
    width: 100%;
    text-align: center;
    color: #535e6a;
    opacity: .5;
    font-size: 14px;
    height: 170px;
    line-height: 170px;
}
/********** 空数据样式 end **********/

/********** 操作记录样式 Begin **********/
.operate_logs {
    max-height: 600px;
    margin:20px 0 100px;
    padding-bottom: 40px;
    border: 1px solid #e4e4e4;
    color: #535e6a;
    overflow: hidden;
    /*定义滚动条轨道 内阴影+圆角*/
    /*定义滑块 内阴影+圆角*/
}
.operate_logs .log_list {
    max-height: 518px;
    overflow-y: scroll;
    padding-left:24px;
    margin: 40px 0;
}
.operate_logs .log_list .list_item {
    border-left: 1px solid #CCCCCC;
    padding: 8px  0 40px 50px;
    position: relative;
    height: auto;
}
.operate_logs .log_list .list_item .log_item_info {
    position: relative;
    margin-top: -8px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: 1px;
}
.operate_logs .log_list .list_item .log_item_info :before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    background-size: cover;
    position: absolute;
    left: -65px;
    top: -2px;
    z-index: 10;
}
.operate_logs .log_list .list_item .log_item_info:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #dadada;
    position: absolute;
    left: -57px;
    top: 7px;
    z-index: 20;
}
.operate_logs .log_list .list_item .log_item_info .audit_img {
    padding-top: 5px;
    height: 60px;
    line-height: 60px;
}
.operate_logs .log_list .list_item .log_item_info .audit_img a {
    display: inline-block;
    width: 60px;
    height: 45px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.8);
    margin-right: 30px;
    overflow: hidden;
}
.operate_logs .log_list .list_item .log_item_info .audit_img a img {
    vertical-align: middle;
}
.operate_logs .log_list .list_item .log_item_info .audit_img a:last-child {
    margin-right: 0;
}
.operate_logs .log_list .list_item.current_audit_p {
    color: #1DC6BC;
}
.operate_logs .log_list .list_item.current_audit_p .log_item_info:after {
    background: #1DC6BC;
    -webkit-box-shadow: 0 0 8px #1DC6BC;
    -moz-box-shadow: 0 0 8px #1DC6BC;
    box-shadow: 0 0 8px #1DC6BC;
}
.operate_logs .log_list .list_item .log_item_info,
.operate_logs .log_list .list_item:last-child {
    border: none;
}
.operate_logs .log_list .list_item:nth-child(even) .log_item_info:after {
    background-position: -4px -115px;
}
.operate_logs .log_list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}
.operate_logs .log_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px;
    background-color: #fff;
}
.operate_logs .log_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #f1f1f1;
}
/*.operate_logs::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.operate_logs::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.operate_logs::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}*/
/********** 操作记录样式 End **********/


/************ 无数据及新建按钮 Begin **********/
.no_list_data {
    margin: 100px 0;
    text-align: center;
}
.no_list_data .toast_img {
    width: 121px;
    height: 108px;
    background: url("../../img/no-data.png") no-repeat center;
    margin: auto;
}
.no_list_data .toast_text {
    height: 60px;
    line-height: 60px;
    color: #c7c7c7;
    font-size: 14px;
}
.no_list_data .new_btn_box {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.no_list_data input {
    width: 260px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e4e4e4;
    text-indent: .8em;
}
.new_btn_box,
.operate_btn_box {
    height: 70px;
    line-height: 70px;
    text-align: right;
}
.new_btn_box .add_btn,
.operate_btn_box .add_btn {
    width: 85px;
    height: 20px;
    line-height: 20px;
}
.new_btn_box .edit_btn,
.operate_btn_box .edit_btn {
    width: 85px;
    height: 20px;
    line-height: 20px;
}
/************ 无数据及新建按钮 Begin **********/