

.check{
    float:left;
    margin-right:30px;
    margin-bottom:25px;
}
select{
    height:34px;width:100%;
    padding-left:5px;
    border:1px solid #ccc;
    border-radius: 3px;
}
.add_txt,.rate_add_txt,.rate_add_del,.downpayment_add_txt,.downpayment_add_del{
    display:inline-block;
    margin-left:38px;
    color:#72ACE3;
    font-size: 12px;
}
.add_txt:hover{
    color:#1DC6BC;
}
.need{
    color:#FB2741;
    font-size: 12px;
    margin-right:2px;
}
.icon_check{
    width:12px;height:12px;
    background:url('/static/img/organization/icon_check.png') center center no-repeat;
}
.icon_uncheck{
    width:12px;height:12px;
    background:url('/static/img/organization/icon_uncheck.png') center center no-repeat;
}
.checkBox{
    border:none;
    background:#F5F5F5;
    padding-left:0;
    margin-top:2px;
}
.checkBox>.check>div{
    margin-top:2px;
    margin-right:5px;
    cursor: pointer;
    float:left;
}
.radio{
    float:left;
    margin-right:40px;
}
.radio input[type='radio']{
    margin-left:0;
    margin-top:3px;
}
.adress_title{
    float:left;
    margin-left:-25px;
    line-height: 34px;
}
.rate_add input,.rate_add_ready input,
.downpayment_add input,.downpayment_add_ready input{
    float:left;
    margin-right:20px;
}
.rate_add input,.downpayment_add input{
    width:28.88888%;
}
.rate_add_ready input,.downpayment_add_ready input{
    width:36%;
}
.rate_add span,.rate_add_ready span,.downpayment_add span,.downpayment_add_ready span{
    float:left;
    line-height: 34px;
}
.rate_add_ready,.downpayment_add_ready{
    font-size: 12px;
    color:#535E6A;
    margin-left:-15px;
}
.rate_box,.downpayment_box{
    height:34px;
    line-height: 34px;
    margin-right:20px;
    margin-bottom:20px;
    /*display:none;*/
}
#ssess_desc_form,
#carage_form{
    display:none;
}
.rate{
    font-size: 12px;
    color:#535E6A;
    float:left;
    margin-right:20px;
}
#add_btn_n{
    width:110px;height:30px;
    color:#fff;
    background:#1DC6BC;
    border:1px solid #1DC6BC;
    border-radius: 4px;
    font-size: 12px;
    line-height: 30px;
    margin-left:30px;
}
#add_btn_n:hover{
    background:#0B9C94;
}
#add_btn_y{
    width:110px;height:30px;
    color:#fff;
    background:#A0A0A0;
    border:1px;
    border-radius: 4px;
    font-size: 12px;
    line-height:30px ;
}
#add_btn_y:hover {
    background: #B4B4B4;
}

/*select_city_box*/
.city_img{
    position: absolute;
    right:21px;top:10px;
    cursor: pointer;
}
.select_city_box{
    width:372px;height:251px;
    background-color:#fff;
    color:#535E6A;
    font-size: 12px;
    border:1px solid #ccc;
    display:none;
    position: absolute;
    z-index:2;
}
.box_top{
    height:30px;
}
.box_top_left,.box_top_right{
    width:184px;
    line-height: 30px;
    text-align: center;
    float:left;
    cursor:pointer;
}
.box_top_left:hover,.box_top_right:hover{
    color:#1DC6BC;
    background-color:#fafafa;
}
.cur_city{
    background-color:#fafafa;
    color:#1DC6BC;
}
.box_middle{
    width:100%;height:184px;
}
.box_middle_left_container,.box_middle_right_container{
    width:358px;height:100%;
    margin-left:12px;
    overflow-y: auto;
    padding-bottom:10px;
    display:none;
}
.container_txt_box{
    height:29px;
    float:left;
    margin-right:14px;
}
.select_province_img{
    float:left;
    margin-top:17px;
}
.container_txt{
    margin-left:6px;
    float:left;
    margin-top:15px;
}
.container_city_box_top{
    width:100%;
    margin-top:15px;
}
.container_city_box_middle{
    width:100%;
}
.clear{
    clear:both;
}
.display{
    display:block;
}
.box_bottom{
    width:100%;height:37px;
    color:#A0A0A0;
    font-size: 12px;
    position: relative;
}
.box_bottom_n_btn,.box_bottom_y_btn{
    float:left;
    line-height: 37px;
    position: absolute;
    top:0;
    cursor: pointer;
}
.box_bottom_n_btn:hover,.box_bottom_y_btn:hover{
    color:#1DC6BC;
}
.box_bottom_y_btn{
    right:32px;
}
.box_bottom_n_btn{
    right:85px;
}
.remarks_box,.city_box{
    display:none;
}
.form_left{
    margin-top:-20px;
    margin-bottom:20px;
    display:none;
}
.display{
    display:block;
}
#delS{
    position: fixed;
    left:0;top: 0;
    bottom:0;right:0;
    margin:auto auto;
    display:none;
    z-index: 2;
}
.bg_mask{
    width: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
}

/*添加的修改版*/
.downpayment_rate,.downpayment_money{
    display:none;
}


