
.product_detail_header{
    width:100%;height:92px;
    position: relative;
}
.header_left,.header_right{
    float:left;
    position: absolute;
    top:0;
    height:92px;
}
.header_right{
    color:#B0B0B0;
    font-size: 12px;
    line-height: 92px;
    right:0;
}
.header_left_img{
    width:112px;height:80px;
    margin-top:6px;
    margin-left:24px;
    margin-right:38px;
    background-color:#E4E4E4;
}
.header_left_img img{
    width:100%;height:100%;
}
.header_left_img,.header_txt,
.header_txt_bottom1,.header_txt_bottom2,
.header_time,.header_personal{
    float:left;
}
.header_txt_top{
    height:50px;line-height: 50px;
    font-size: 24px;
    color:#535E6A;
}
.header_txt_bottom{
    margin-top:6px;
}
.header_txt_bottom1,.header_txt_bottom2{
    width:54px;height:30px;
    line-height: 30px;
    border:1px solid #1DC6BC;
    border-radius: 3px;
    color:#1DC6BC;
    text-align: center;
}
.header_txt_bottom1{
    margin-right:20px;
}
.header_personal{
    margin-left:20px;
}

/*detail start*/
.product_detail_box{
    width:100%;
    border:1px solid #e4e4e4;
    background-color:#fff;
    margin-top:15px;
}
.detail_title{
    width:100%;height:60px;
    line-height: 60px;
    color:#535E6A;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4;
    background-color:#fafafa;
}
.detail_line,.detail_title_txt,
.detail_about_label,.detail_about_date{
    float:left;
}
.detail_line{
    width:4px;height:18px;
    margin-left:9px;
    background-color:#1DC6BC;
    margin-top:21px;
    margin-right:6px;
}
.detail_about_txt{
    width:100%;height: 50px;
}
.detail_about{
    padding-left:29px;
    padding-right:29px;
    padding-bottom:20px;
    font-size: 12px;
    line-height: 50px;
}
.detail_about_label{
    height:100%;
}
.detail_about_date{
    display:inline-block;
    width:89%;
    color:#808891;
    margin-left:5px;
    margin-top:0;
}