


.password_upBox{
    width:35%;height:50%;
    position: absolute;
    left:0;top:0;
    right:0;bottom:0;
    margin:auto auto;
    background:#fff;
}
.pw_upBox_title{
    display:inline-block;
    width:100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color:#535E6A;
}
.password_form{
    width:100%;
    margin-left:10%;
    margin-top:20px;
}
.password_new{
    width:63%;height:50px;
    line-height: 50px;
    padding-left:5px;
    margin-left:10%;
    margin-top:20px;
    border:1px solid #E4E4E4;
    font-size: 12px;
    color:#A4A8AB;
    border-radius: 4px;
}
.password_btn{
    width:63%;height:50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    border:1px;
    background:#1DC6BC;
    border-radius: 4px;
    margin-top:60px;
    margin-left:10%;
    cursor: pointer;
}
.password_btn:hover{
    background:#0B9C94;
}
.proProm2{
    margin-top:5px;
    display:none;
}
.proProm2 span{
    color:#FB2741;
}